(authentik_auth) {
        # Always forward outpost path to actual outpost
        reverse_proxy /outpost.goauthentik.io/* http://10.0.10.31:9000

        # Forward authentication to outpost
        forward_auth http://10.0.10.31:9000 {
                uri /outpost.goauthentik.io/auth/caddy
        
                # Capitalization of the headers is important, otherwise they will be empty
                copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
        
                trusted_proxies 10.0.10.31
        }
}

# Redirect short links to the FQDN. See:
# https://caddy.community/t/err-ssl-protocol-error-when-using-search-domain-to-complete-domain-name/10283

http://hydrogen,
http://helium,
http://helium-oob,
http://truenas,
http://truenas-ipmi,
http://truenas-backup,
http://truecommand,
http://unifi,
http://codeserver,
http://jekyll,
http://pihole,
http://pihole-backup,
http://portainer,
http://grafana,
http://influxdb,
http://tautulli,
http://guacamole,
http://firefox,
http://wol,
http://authentik,
http://eaton,
http://haos,
http://arm,
http://mesh-mini,
http://wyze,
http://homepage,
http://uptime,
http://todo,
http://speedtest,
http://budget,
http://wiki,
http://hamclock,
http://wavelog,
http://yourspotify,
http://books,
http://get-books,
http://pdf,
http://image-compress,
http://convert,
http://it-tools,
http://s {
        redir https://{host}.brew.foo{uri}
}

# Specific short links that are not the same as the host part of their FQDN:

http://code {
        redir https://codeserver.brew.foo{uri}
}

http://guac {
        redir https://guacamole.brew.foo{uri}
}

http://home {
        redir https://homepage.brew.foo{uri}
}

*.brew.foo {
        tls {
                dns cloudflare <api-key>
                resolvers 1.1.1.1
        }

        # Test endpoint for Caddy health check
        @health-check host test.brew.foo
        handle @health-check {
                respond /health-check 204
                respond 404
        }

        # Hydrogen proxmox node
        @hydrogen host hydrogen.brew.foo
        handle @hydrogen {
                reverse_proxy https://10.0.10.40:8006 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }
        
        # Helium proxmox node
        @helium host helium.brew.foo
        handle @helium {
                reverse_proxy https://10.0.10.20:8006 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # Comet PoE IP KVM for Helium Proxmox Node
        @helium host helium-oob.brew.foo
        handle @helium-oob {
                reverse_proxy https://10.0.99.22 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # Truenas
        @truenas host truenas.brew.foo
        handle @truenas {
                reverse_proxy https://10.0.20.10 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # Truenas server IPMI
        @truenas-ipmi host truenas-ipmi.brew.foo
        handle @truenas-ipmi {
                import authentik_auth
                reverse_proxy https://10.0.99.20 {
                        header_up Host {http.request.host}
                        header_up X-Real-IP {http.request.remote}
                        header_up X-Forwarded-For {http.request.remote}
                        header_up X-Forwarded-Port {http.request.port}
                        header_up X-Forwarded-Proto {http.request.scheme}
                        transport http {
                                tls_insecure_skip_verify
                        }
                } 
        }

        # Truenas backup server
        @truenas-backup host truenas-backup.brew.foo
        handle @truenas-backup {
                reverse_proxy https://10.0.20.11 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # TrueCommand
        @truecommand host truecommand.brew.foo
        handle @truecommand {
                reverse_proxy https://10.0.10.31:9005 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }
        
        # Unifi controller web UI
        @unifi host unifi.brew.foo
        handle @unifi {
                reverse_proxy https://10.0.99.3:8443 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }

                }
        }

        # Code server
        @codeserver host codeserver.brew.foo
        handle @codeserver {
                reverse_proxy 10.0.10.32:8080
        }

        # Jekyll server running on codeserver
        @jekyll host jekyll.brew.foo
        handle @jekyll {
                reverse_proxy 10.0.10.32:4000
        }

        # Pihole admin
        @pihole host pihole.brew.foo
        handle @pihole {
                redir / /admin{uri}
                reverse_proxy 10.0.10.11
        }

        # Backup Pihole admin
        @pihole-backup host pihole-backup.brew.foo
        handle @pihole-backup {
                redir / /admin{uri}
                reverse_proxy 10.0.10.12
        }
        
        # Portainer
        @portainer host portainer.brew.foo
        handle @portainer {
                reverse_proxy https://10.0.10.31:9443 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # Grafana
        @grafana host grafana.brew.foo
        handle @grafana {
                reverse_proxy 10.0.10.31:3000
        }

        # InfluxDB
        @influxdb host influxdb.brew.foo
        handle @influxdb {
                reverse_proxy 10.0.10.31:8086
        }

        # Tautulli
        @tautulli host tautulli.brew.foo
        handle @tautulli {
                reverse_proxy 10.0.10.31:8181
        }

        # Guacamole
        @guacamole host guacamole.brew.foo
        handle @guacamole {
                redir / /guacamole{uri}
                reverse_proxy 10.0.10.31:8080
        }

        # Firefox
        @firefox host firefox.brew.foo
        handle @firefox {
                import authentik_auth
                reverse_proxy https://10.0.100.5:5800 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # UpSnap
        @wol host wol.brew.foo
        handle @wol {
                reverse_proxy 10.0.100.5:8090
        }

        # Authentik
        @authentik host authentik.brew.foo
        handle @authentik {
                reverse_proxy https://10.0.10.31:9001 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # Eaton Network Card-MS on 5PX2200RT
        @eaton host eaton.brew.foo
        handle @eaton {
                # import authentik_auth
                reverse_proxy 10.0.10.30
        }

        # Home Assistant
        @haos host haos.brew.foo
        handle @haos {
                reverse_proxy 10.0.101.10:8123
        }

        # Automatic Ripping Machine
        @arm host arm.brew.foo
        handle @arm {
                reverse_proxy 10.0.10.34:8080
        }

        # Mesh-Mini
        @mesh-mini host mesh-mini.brew.foo
        handle @mesh-mini {
                import authentik_auth
                reverse_proxy 10.0.10.31:3001
        }

        # Wyze Bridge
        @wyze-bridge host wyze.brew.foo
        handle @wyze-bridge {
                reverse_proxy 10.0.10.31:5000
        }

        #Homepage
        @homepage host homepage.brew.foo
        handle @homepage {
                import authentik_auth
                reverse_proxy 10.0.10.31:3030
        }

        # Uptime Kuma
        @uptime host uptime.brew.foo
        handle @uptime {
                reverse_proxy 10.0.10.31:3060
        }

        # Vikunja
        @todo host todo.brew.foo
        handle @todo {
                reverse_proxy 10.0.10.31:3456
        }

        # Speedtest
        @speedtest host speedtest.brew.foo
        handle @speedtest {
                reverse_proxy 10.0.10.31:8282
        }

        # Actual Budget
        @actual host budget.brew.foo
        handle @actual {
                reverse_proxy 10.0.10.31:5006
        }

        # Wiki.js
        @wiki host wiki.brew.foo
        handle @wiki {
                reverse_proxy 10.0.10.31:3002
        }

        # Ham Clock
        @hamclock host hamclock.brew.foo
        handle @hamclock {
                reverse_proxy 10.0.10.31:8101
                redir / /live.html
        }

        #Wavelog
        @wavelog host wavelog.brew.foo
        handle@wavelog {
                reverse_proxy10.0.10.31:8186
        }

        # Your Spotify Backend
        @yourspotify-backend host yourspotify-backend.brew.foo
        handle @yourspotify-backend {
                reverse_proxy 10.0.10.31:8081
        }

        # Your Spotify Client
        @yourspotify host yourspotify.brew.foo
        handle @yourspotify {
                reverse_proxy 10.0.10.31:3003
        }

        # Calibre Web
        @books host books.brew.foo
        handle @books {
                reverse_proxy 10.0.10.31:8083
        }

        # Calibre Web Automated Book Downloader
        @get-books host get-books.brew.foo
        handle @get-books {
                import authentik_auth
                reverse_proxy 10.0.10.31:8084
        }

        # Snapp URL Shortener
        @snapp host s.brew.foo
        handle @snapp {
                reverse_proxy 10.0.10.31:3004
                redir / /dashboard
        }

        # Bento PDF
        @pdf host pdf.brew.foo
        handle @pdf {
                reverse_proxy 10.0.10.31:8085
        }

        # Mazanoke Image Compression
        @image-compress host image-compress.brew.foo
        handle @image-compress {
                reverse_proxy 10.0.10.31:3474
        }

        # ConvertX
        @convert host convert.brew.foo
        handle @convert {
                import authentik_auth
                reverse_proxy 10.0.10.31:3054
        }

        # IT Tools
        @it-tools host it-tools.brew.foo
        handle @it-tools {
                reverse_proxy 10.0.10.31:8087
        }
}
