*.brew.foo {
        tls {
                dns cloudflare <api-key>
                resolvers 1.1.1.1
        }


        # Network proxmox management UI
        @hydrogen host hydrogen.brew.foo
        handle @hydrogen {
                reverse_proxy https://10.0.10.10:8006 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }
        
        # Helium proxmox node
        @helium host helium.brew.foo
        handle @helium {
                reverse_proxy https://10.0.10.20:8006 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # Truenas
        @truenas host truenas.brew.foo
        handle @truenas {
                reverse_proxy https://10.0.20.10 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # Truenas server IPMI
        @truenas-ipmi host truenas-ipmi.brew.foo
        handle @truenas-ipmi {
                reverse_proxy https://10.0.99.20 {
                        header_up Host {http.request.host}
                        header_up X-Real-IP {http.request.remote}
                        header_up X-Forwarded-For {http.request.remote}
                        header_up X-Forwarded-Port {http.request.port}
                        header_up X-Forwarded-Proto {http.request.scheme}
                        transport http {
                                tls_insecure_skip_verify
                        }
                } 
        }
        
        # Unifi controller web UI
        @unifi host unifi.brew.foo
        handle @unifi {
                reverse_proxy https://10.0.99.3:8443 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }

                }
        }

        # Omada controller web UI
        @omada host omada.brew.foo
        handle @omada {
                reverse_proxy https://10.0.99.5:8043 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }

                }
        }

        # Code server
        @codeserver host codeserver.brew.foo
        handle @codeserver {
                reverse_proxy 10.0.10.32:8080
        }

        # Jekyll server running on codeserver
        @jekyll host jekyll.brew.foo
        handle @jekyll {
                reverse_proxy 10.0.10.32:4000
        }

        # Pihole admin
        @pihole host pihole.brew.foo
        handle @pihole {
                redir / /admin{uri}
                reverse_proxy 10.0.10.11
        }
        
        # Portainer
        @portainer host portainer.brew.foo
        handle @portainer {
                reverse_proxy https://10.0.10.31:9443 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # Grafana
        @grafana host grafana.brew.foo
        handle @grafana {
                reverse_proxy 10.0.10.31:3000
        }

        # InfluxDB
        @influxdb host influxdb.brew.foo
        handle @influxdb {
                reverse_proxy 10.0.10.31:8086
        }

        # Tautulli
        @tautulli host tautulli.brew.foo
        handle @tautulli {
                reverse_proxy 10.0.10.31:8181
        }

        # Guacamole
        @guacamole host guacamole.brew.foo
        handle @guacamole {
                redir / /guacamole{uri}
                reverse_proxy 10.0.10.31:8080
        }

        # Firefox
        @firefox host firefox.brew.foo
        handle @firefox {
                reverse_proxy https://10.0.100.5:5800 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # UpSnap
        @wol host wol.brew.foo
        handle @wol {
                reverse_proxy 10.0.100.5:8090
        }

        # Authentik
        @authentik host authentik.brew.foo
        handle @authentik {
                reverse_proxy https://10.0.10.31:9001 {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

        # Eaton Network Card-MS on 5PX2200RT
        @eaton host eaton.brew.foo
        handle @eaton {
                reverse_proxy 10.0.10.30
        }

        # Home Assistant
        @haos host haos.brew.foo
        handle @haos {
                reverse_proxy 10.0.101.10:8123
        }

        # Automatic Ripping Machine
        @arm host arm.brew.foo
        handle @arm {
                reverse_proxy 10.0.10.34:8080
        }

        # Mesh-Mini
        @mesh-mini host mesh-mini.brew.foo
        handle @mesh-mini {
                reverse_proxy 10.0.10.31:3001
        }
}
