# Stack for time-series based monitoring. Namely, Grafana and backing data stores.

services:
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    restart: unless-stopped
    ports:
      - 8086:8086
    volumes:
      - $BASE_DIR/influxdb/config.yml:/etc/influxdb2/config.yml
      - influxdb-data:/var/lib/influxdb2
  grafana:
    image: grafana/grafana-enterprise:12.3
    ports:
      - 3000:3000
    restart: unless-stopped
    container_name: grafana
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - influxdb
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel
      - GF_SERVER_ROOT_URL=https://grafana.brew.foo
      # Configuration for email
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=smtp.gmail.com:465
      - GF_SMTP_USER=example@gmail.com
      - GF_SMTP_PASSWORD=${GMAIL_PASSWORD}
      - GF_SMTP_FROM_ADDRESS=example@gmail.com
      - GF_SMTP_FROM_NAME=Grafana
      # Configuration for OAuth
      - GF_AUTH_GENERIC_OAUTH_ENABLED=true
      - GF_AUTH_GENERIC_OAUTH_NAME=Authentik
      - GF_AUTH_GENERIC_OAUTH_CLIENT_ID=${AUTHENTIK_CLIENT_ID}
      - GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=${AUTHENTIK_CLIENT_SECRET}
      - GF_AUTH_GENERIC_OAUTH_SCOPES=openid profile email
      - GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://authentik.brew.foo/application/o/authorize/
      - GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://authentik.brew.foo/application/o/token/
      - GF_AUTH_GENERIC_OAUTH_API_URL=https://authentik.brew.foo/application/o/userinfo/
      - GF_AUTH_SIGNOUT_REDIRECT_URL=https://authentik.brew.foo/application/o/grafana/end-session/
      # Optionally enable auto-login (bypasses Grafana login screen)
      # - GF_AUTH_OAUTH_AUTO_LOGIN=true
      # Optionally map user groups to Grafana roles
      - GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH=contains(groups[*], 'Grafana Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'

volumes:
  grafana-storage:
  influxdb-data:
